<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided list" style="margin-bottom: 1em">
      <div class="item" style="color: rgba(255,255,255,0.54)">&copy; 2016 Michael Spencer</div>
    </div>
    <div>
      <a class="ui circular google plus icon button" href="https://plus.google.com/+MichaelSpencer">
        <i class="google plus icon"></i>
      </a>
      <a class="ui circular twitter icon button" href="https://twitter.com/iBeliever316">
        <i class="twitter icon"></i>
      </a>
      <!-- <button class="ui circular linkedin icon button">
        <i class="linkedin icon"></i>
      </button> -->
      <a class="ui circular icon button" href="https://github.com/iBeliever">
        <i class="github icon"></i>
      </a>
      <a class="ui circular yellow icon button" href="mailto:sonrisesoftware@gmail.com">
        <i class="mail icon"></i>
      </a>
    </div>
    <div class="ui horizontal inverted small divided linked list" style="margin-top: 2em">
      <a class="item" href="https://github.com/iBeliever/ibeliever.github.io/issues"><i class="bug icon"></i> Report an Issue</a>
    </div>
  </div>
</div>
