<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      {% include menu.html %}
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui inverted header">
      Michael Spencer
    </h1>
    <h2 class="subheader">Software Developer</h2>
    <h3 class="tagline">To God Alone be the Glory</h3>

    <div style="display: flex; justify-content: center; flex-wrap: wrap">
      <a class="ui red labeled icon button" style="flex-shrink: 0; margin: 5px"
         href="https://plus.google.com/+MichaelSpencer">
        <i class="large google plus icon"></i>
        Follow me on Google+
      </a>
      <a class="ui primary labeled icon button" style="flex-shrink: 0; margin: 5px"
         href="https://github.com/iBeliever">
        <i class="large github icon"></i>
        View my GitHub projects
      </a>
    </div>

  </div>

</div>
