/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 13px;
    border: 1px solid $divider-color;
    border-radius: 3px;
    background-color: #F9F9F9;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.hidden.menu {
  display: none;
}
